body {
  height: 100%;
  width: 100%;
  background: #d2d6de;
}
body, .navbar-fixed-top, .navbar-fixed-bottom {
    min-width: 970px;
}
a {
    color: #333;
    text-decoration: none;
    transition: 0.25s;
    outline: none;
}
.btn:focus {
    outline: none !important;
    outline-offset: 0px !important;
}
.content {
  margin-top: 20px;
}
.container {
  max-width: none !important;
  width: 1170px;
}

.navbar-default {
    background-color: #A34D3E;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: #9C5549;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: #fff;
  background-color: #9C5549;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #9C5549;
    color: #fff;
}
.thumbnail {
    padding: 5px 0;
    margin-bottom: 15px;
    line-height: 1.72222;
  }
.col-thumb {
    margin-bottom: 10px;
}
.thumbnail .caption {
    padding: 9px 9px 0;
    color: #34495e;
}
.caption p {
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
}
.thumbnail p {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
}
.p-author {
    line-height: normal;
}
.btn-team-xs {
    background-color: #999 !important;
    line-height: normal;
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 2px;
}
.myicon-right {
    margin-right: 4px;
    font-size: 15px;
}
.img-avatar-shots {
    margin: 0 !important;
    display: inline-block !important;
}
.text-decoration-none {
    text-decoration: none !important;
}
.btn-block {
    white-space: normal;
}
.position-relative {
    position: relative;
}
h1 {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-like {
    font-size: 18px;
  }
  .post-comment {
    font-size: 12px;
  }
  .likeButton {
      color: #e74c3c;
  }

